
.navbar{
    font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;

}

#hero{
    background-color:hwb(248 21% 31%);
    font-family: "kanit", serif;
    font-weight: 400;
    font-style: normal;
    
}

.about{
    text-align:left;
    font-size: 50px;
}
.ro{
  align-items: center;
    border-radius: 5px;

}
.lead{
    color: black;
}

.head {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.a{
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
.b{
    font-weight: 800;
}
#info{
    background-color :hwb(248 21% 31%);
}
.back{
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;


}
.ed{
    color:black;
}
.background{
    font-weight: bolder;
    color:black
}
.see{
    color: black;
    font-weight: bolder;
}
.hoi{
    font-weight: bolder;
}
html {
    scroll-behavior: smooth;
  }
  .link{
    display: flex;
    justify-content: center;
    gap:20px
  }
  


.fot{
    font-family: "Kanit", serif;
font-weight: 400;
font-style: normal;
color: blue !important;
}


